<app-header title= "Productos EliteBikeShopCR"></app-header>
<app-button></app-button>

<ion-content [fullscreen]="true">
  <div id= container>
    <ion-back-button stack= start defaultHref="/products"></ion-back-button>
  </div>
</ion-content>
