<ion-header class="ion-no-border">
  <ion-toolbar>
    
    <ion-title id= color> 
      <ion-button size= small href="home"><ion-icon name="home"><img src="assets\media\logox90.png"/> {{ title }}</ion-icon></ion-button>
      <img src="assets\media\logox90.png"/> {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>
