<ion-fab horizontal="start" vertical="bottom" slot="fixed">
  <ion-fab-button color="dark">
    <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" href="products">
      <ion-icon name="basket-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light"href = "/servicios">
      <ion-icon name="construct-outline" ></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" href = "https://wa.me/50683180582">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light"href = "/home">
      <ion-icon name="home-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>