<app-header title= EliteBikeShop >
</app-header>
<app-button></app-button>
<ion-content [fullscreen]="true">
  <div id= container>
    <ion-card>
      <br>
      <ion-card-title id=produc_tittle>
        <ion-button stack= end (click)="deleteProduct()"><ion-icon name="trash"></ion-icon></ion-button>
        <header style="text-align:center">{{ productoActual.producto }}</header>
        <br>
      </ion-card-title>
      <ion-card-content>
        <ion-img [src]="productoActual.image" ></ion-img>
        <br>
        <ion-label id=produc_content> {{ productoActual.descripcion }} </ion-label>
        <br>
        <ion-label id=precio >{{ productoActual.precio }}</ion-label>
        <br>
        
      </ion-card-content>
    </ion-card>
    <ion-back-button stack= start defaultHref="/products"></ion-back-button>
  </div>
</ion-content>
