#photo_small{
    margin-top: -20%;
}
#produc_tittle{
    font-size: 30px;
    font-style: oblique;
    font-family: 'Arial';
}
#precio{
    font-size: 18px;
    font-style: bold;
    font-family: 'Arial';
    color: blue;
    text-align: right;
}