<app-header title= "Productos EliteBikeShopCR"></app-header>
<app-button></app-button>
<ion-content [fullscreen]="true">
  <div id= container>
    <img  src="assets\media\products\showroom.jpg" />
    <br>
    <!--<ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button href='carrito'>
        <ion-icon name="cart" class="cart-icon"></ion-icon>
      </ion-fab-button>
    </ion-fab>-->
    <ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let producto of productos | filtro: textoBuscar : 'producto'">
        <ion-card>
          <ion-card-title id=produc_tittle>
            <header style="text-align:center">{{ producto.producto }}</header>
            <br>
          </ion-card-title>
          <ion-card-content>
            <ion-img [src]="producto.image" ></ion-img>
            <br>
            <ion-label id=precio>₡ {{ producto.precio }}</ion-label>
            <br>
            <ion-button expand="block" color= primary [routerLink]="['./',producto.id]">
              <div class="ion-text-center">
                <ion-icon name="eye-outline"></ion-icon>
              </div>
            </ion-button>
            
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
    <br>
    <ion-back-button stack= start defaultHref="/home"></ion-back-button>
    <br>  
  </div>
</ion-content>
