<app-header title= "Servicios EliteBikeShopCR"></app-header>
<app-button></app-button>
<ion-content [fullscreen]="true">
  <div id= container>
    <img src="assets\media\parachute.jpg" />
    <ion-back-button stack= start  defaultHref="/home"></ion-back-button>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Servicios</ion-card-subtitle>
        <ion-card-title>TuneUp Basico</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lavado y engrase de transmicion. Ajuste de Frenos. Aciete en Componentes
      </ion-card-content>
      <br>
    </ion-card>  
    
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Servicios</ion-card-subtitle>
        <ion-card-title>TuneUp PRO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        La bicicleta se desarma por completo, se lava, se engrasam se ajusta, se enceita.
        Se hace alineado de aros.
      </ion-card-content>
      <br>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Servicios Adicionales</ion-card-subtitle>
        <ion-card-title>TuneUp Suspension</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Desarme y Limpieza. Cambio de Aceite. Engrase General. Cambio de Kits (Guardapolvo, Sellos de Aceite, Empaques de Aire)
      </ion-card-content>
      <br>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Servicios Adicionales</ion-card-subtitle>
        <ion-card-title>Empaque de Bicicletas </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Se lava. Se desarma la bicicleta, se hace un empaque protectivo. Se prepara para viajes de Aereos o Terrestres.
      </ion-card-content>
      <br>
    </ion-card>
    </div>
    <br>
</ion-content>