<app-header title= "EliteBikeShopCR"></app-header>
<app-button></app-button>
<ion-content [fullscreen]="true">
  <div id= container>
    <img src="assets\media\parachute-mtb-helmet.jpg" />
    <ion-card>
      <br>
      <ion-card-title>
        <header style= "text-align:center" >Bienvenidos</header>
        <br>
        <img src="assets\media\inicio\work.jpg" />
      </ion-card-title>
      <ion-card-content >
        <ion-label color=black>Mas de 15 años vendiendo y reparando bicicletas MTB, RUTA, BMX , ENDURO Y DOWNHILL</ion-label>
      </ion-card-content>
      <br>
      <img src="assets\media\inicio\mantenimento.jpg" />
      <br>
      <ion-card-content>
        Contamos con equipo especializado para darle el mejor mantenimiento a tu bicicleta y sus componentes 
      </ion-card-content>
      <br>
      <img src="assets\media\inicio\parktool.jpg" />
    </ion-card>
    <br>
    <ion-item color = black>
      <ion-icon name="logo-ionic"></ion-icon>
      <ion-label id=newsLetter>News</ion-label>
    </ion-item>
    <br>
    <ion-card>
      <br>
      <ion-card-title>
        <header style="text-align:center">Custume Build Limited Edition N1NO</header>
      </ion-card-title>
      <ion-card-content>
        <img src="assets\media\news\SCOTTSpark-RC-N1NO-LTD.jpg" />
      </ion-card-content>
      <ion-button expand="block" color= danger  href = 'https://www.youtube.com/watch?v=T6R0oES1gTo'><ion-icon name="logo-youtube"></ion-icon></ion-button>
      <br>
    </ion-card>
    <ion-card>
      <br>
      <ion-card-title>
        <header style="text-align:center">BUFF® SCOTT MTB Team - Presentation 2020</header>
      </ion-card-title>
      <ion-card-content>
        <img src="assets\media\news\buffteam.jpg" />
      </ion-card-content>
      <ion-button expand="block" color= danger  href = 'https://www.youtube.com/watch?v=kTFBdK749xc'><ion-icon name="logo-youtube"></ion-icon></ion-button>
      <br>
    </ion-card>
    <ion-card>
      <br>
      <ion-card-title>
        <header style="text-align:center">XTR M9100: a closer look at the components</header>
      </ion-card-title>
      <ion-card-content>
        <img src="assets\media\news\xtr.jpg" />
      </ion-card-content>
      <ion-button expand="block" color= danger  href = 'https://www.youtube.com/watch?v=MaHB48W_yJE&t'><ion-icon name="logo-youtube"></ion-icon></ion-button>
      <br>
    </ion-card>
    <ion-card>
      <br>
      <ion-card-title>
        <header style="text-align:center">SRAM AXS™</header>
      </ion-card-title>
      <ion-card-content>
        <img src="assets\media\news\axs.jpg" />
      </ion-card-content>
      <ion-button expand="block" color= danger  href = 'https://www.youtube.com/watch?v=LEbJRmNgD8E&t'><ion-icon name="logo-youtube"></ion-icon></ion-button>
      <br>
    </ion-card>
  </div>

  
</ion-content>
