px#container {
  text-align: center;
  position: absolute;
  font-size: 20px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#photo{
  max-width: 100%;
  height: auto;
}
#newsLetter{
  font-size: 30px;
  font-style: oblique;
  font-family: Arial;
}